  /* STEM ENRG Color Palette */

  /* After mockups are made, we can determine which colors will be main and accent and can assign them accordingly */
  
:root {
    --Toner-Grey: #eef0f2;
    --Napoli-Yellow: #f4e322;
    --Slate: #001f5f;
    --Neutral-Grey: #a2999e;
    --Deep-Taupe: #846a6a;
  }

